<!DOCTYPE html>
<html lang="ja">
<%- include('../modules/common/_head') %>
<body style="margin: 0">
  <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td
        align="left"
        valign="top"
        bgcolor="#ffffff"
        style="background-color: #ffffff"
      >
        <% /* ここから下を編集 */ %>

        <% /* ヘッダー参考パーツ */ %>
        <%- include('../modules/common/_header') %>

        <% /* タイトル参考パーツ */ %>
        <%- include('../modules/common/_title', {num: "3", title: "リンク"}) %>

        <% /* セクション参考パーツ */ %>
        <%- include('./_link') %>

        <% /* フッター参考パーツ */ %>
        <%- include('../modules/common/_footer') %>

        <% /* ここから上を編集 */ %>
      </td>
    </tr>
    </tbody>
  </table>
</body>
</html>
